@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

.actions {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;

    margin: 4% 0%;
}

.action {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;

    color: #FF886B;
}

.action-icon {

    margin: 0% 10%;

    width: 24px;

    border-radius: 100%;

    background-color: #FF886B;
}