@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&family=Roboto+Slab:wght@700&display=swap');

header {
    position: fixed;

    top: 0;
    left: 0;

    padding: 0% 1%;

    height: 72px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
}

.header-navigation-with-shadow {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.10);
}

.header-navigation {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation-item {
    margin: 0% 2%;

    font-size: large;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;


    color: black;
}

main {
    margin-top: 72px;
}