@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

.menu-rail {
    position: fixed;
    top: 72px;

    width: 20%;

    height: 90vh;

    max-width: 256px;

    overflow: auto;

    background-color: white;
}

.category {
    display: flex;
    flex-direction: column;

    margin: 0% 6%;
    margin-bottom: 8%;
}

.menu-item-title {

    margin-top: 6%;
    margin-bottom: 8%;

    font-size: large;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;
}

.menu-item-element {
    margin-top: 8%;   
}

.menu-item-link{
    text-decoration: none;

    font-size: medium;
    font-weight: 400;
    font-family: 'Roboto Flex', sans-serif;

    color: black;
}

.menu-item-link:hover{
    
    padding: 4%;

    border-radius: 10px;
    border: 0px solid black;

    background-color: #E5E5E5;
}

main {
    margin-left: 20%;
}

hr{
    width: 100%;
    margin-top: 8%;
    border-top: 1px solid #D9D9D9;
}

a:hover{
	background: #53BEA6;
	transition: 0.5s;
}

.checkbutton{
	font-size: 30px;
	color: white;
	float: right;
    
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check-rail{
	display: none;
}

@media (max-width: 800px){ 

    main{
        margin-left: 17%;
    }

    .logo{
        width: 30%;
        margin-left: 4%;
    }   

    nav{
        margin-bottom: 0;
    }

    .menu-rail-icon{
        position: fixed;
        width: 10%;
        margin-bottom: 0;
        margin-top: 1%;

    }

    .menu-item-title{
        margin-top: 6%;
    }

    hr{
        width: 100%;
        margin-top: 6%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    nav ul li a{
        font-size: 16px;
    }

    .checkbutton{
        display: block;
    }

    ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #53BEA6;
		top: 72px;
		left: -100%;
		text-align: left;
		padding: 17;
		transition: all .5s;
	}

	nav ul li{
		display: block;
		margin: 28px 0;
		line-height: 0px;
	}

	nav ul li a {
		font-size: 20px;
	}

    .menu-item-link:hover{
        padding: 1%;
        background-color: white;
    }

	#check-rail:checked ~ ul {
		left: 0;
	}

    
}