@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

.menu {
    position: fixed;
    top: 72px;

    width: 20%;

    height: 90vh;

    max-width: 256px;

    overflow: auto;

    background-color: white;
}

.category {
    display: flex;
    flex-direction: column;

    margin: 0% 6%;
    margin-bottom: 8%;
}

.menu-item-title {

    margin-top: 8%;
    margin-bottom: 2%;

    font-size: large;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;
}

.menu-item-element {

    margin-top: 6%;

    text-decoration: none;

    font-size: medium;
    font-weight: 400;
    font-family: 'Roboto Flex', sans-serif;

    color: black;
}

.menu-item-element:hover {

    padding: 4%;

    border-radius: 10px;
    border: 0px solid black;

    background-color: #E5E5E5;
}

main {
    margin-left: 20%;
}