.content {
    display: flex;
    flex-direction: row;
}

article {

    padding: 0% 4%;

    width: 100%;
}

.print{
    width: 50%
}

.print1{
    margin-top: -2%;
}

.print2{
    margin-top: -2%;
    width: 60%;
}

@media (max-width: 800px){
    .print{
        width: 20%;
    }
    article{
        margin-top: 20%;
    }
}