<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combobox</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/navigation/header.css">
    <link rel="stylesheet" href="../css/navigation/navigation-rail.css">
    <link rel="stylesheet" href="../css/navigation/action.css">
    <link rel="stylesheet" href="../css/components/combobox.css">
    <link rel="stylesheet" href="../css/content/text.css">
    <link rel="stylesheet" href="../css/foooter.css">
</head>
<body>
    <section class="menu">
        <nav class="category">
            <h3 class="menu-item-title">
                Introdução
            </h3>
            <a class="menu-item-element" href="../introduction/conceitos.html">Introdução (Conceitos) </a>
            <a class="menu-item-element" href="../introduction/windows.html">Instalação no Windows</a>
            <a class="menu-item-element" href="../introduction/linux.html">Instalação no Linux</a>
            <hr>
            <h3 class="menu-item-title">Componentes</h3>
            <a class="menu-item-element" href="../components/label.html">Label, Botão e Input Fields</a>
            <a class="menu-item-element" href="../components/checkbox.html">Checkbox</a>
            <a class="menu-item-element" href="../components/combobox.html">Combobox</a>
            <a class="menu-item-element" href="../components/radio-button.html">Radio Button</a>
            <a class="menu-item-element" href="../components/slider.html">Slider</a>
            <a class="menu-item-element" href="../components/spin.html">Spin</a>
            <a class="menu-item-element" href="#">Toggle</a>
            <a class="menu-item-element" href="../components/imagem.html">Imagem</a>
            <a class="menu-item-element" href="../components/tabs.html">Tabs</a>
            <a class="menu-item-element" href="../components/listview.html">List View</a>
            <a class="menu-item-element" href="../components/progressbar.html">Barra de Progresso</a>
            <a class="menu-item-element" href="#">Picker</a>
            <a class="menu-item-element" href="../components/menu-separador.html">Menu e Separadores</a>
            <a class="menu-item-element" href="../components/scroll.html">Scroll</a>
            <a class="menu-item-element" href="../components/Tabela.html">Tabela</a>
            <a class="menu-item-element" href="../components/pop-up.html">Janela de diálogo</a>
            <a class="menu-item-element" href="../components/drag-drop.html">Drag and Drop</a>
            <a class="menu-item-element" href="../components/graficos.html">Gráficos</a>
        </nav>
    </section>
     <header class="header-navigation-with-shadow">
        <img src="../assets/images/PI-logo.png" />
        <nav class="header-navigation">
            <a class="header-navigation-item" href="../index.html">Home</a>
            <a class="header-navigation-item" href="../introduction/conceitos.html">Tutorial</a>
            <a class="header-navigation-item" href="../videos.html">Vídeos</a>
            <a class="header-navigation-item" href="../about.html">Sobre Nós</a> 
        </nav>
     </header>
     <main class="content">
        <article>
            <aside class="actions">
                <a class="action" href="../components/checkbox.html"><img class="action-icon" src="../assets/icons/arrow-left.png" /> Anterior</a>
                <a class="action" href="../components/radio-button.html">Próximo <img class="action-icon" src="../assets/icons/arrow-right.png" /></a>
            </aside>

            <h1>3 formas de criar ComboBox</h1>
            <p class="paragraph">Para essa aplicação é necessário saber um pouco sobre ComboBox.
                Uma caixa de combinação é um controle que mantém uma lista de objetos, mas exibe um de cada vez para o usuário. Uma ComboBox consiste em uma caixa de listagem combinada com um controle estático ou o controle de edição. Uma caixa de combinação regular é equipada com uma área de texto retangular e uma seta apontando para baixo. Para usar a caixa de combinação, o usuário clica na seta, que exibe sua lista de itens.
                <br/><br/>Neste tutorial veremos como criar uma caixa de combinação.
            </p>

            <h2>Primeira forma de criar ComboBox            </h2>
            <p class="paragraph">Na parte de design vamos utilizar um ComboBox e um PushButton.            </p>
            <img class="print" src="../assets/images/components/combobox/image4.png"/>

            <p class="paragraph">Devemos adicionar elementos na caixa de combinação que é ativada ao clicar do lado direito do mouse sobre o ComboBox;
                <br/>Depois selecionando Edit Item;
                <br/>Para adicionar os itens deve-se clicar no + em verde e finalizar clicando em enter no teclado assim é possível adicionar vários itens; 
                <br/>Ao finalizar clique em OK.
            </p>
            <img class="print1" src="../assets/images/components/combobox/image6-1.png"/>
            <img class="print1" src="../assets/images/components/combobox/image5-1.png"/>

            <p class="paragraph">Devemos adicionar função ao botão;
                <br/>Para adicionar funcionalidade ao botão deve-se selecionar a função Clicked (que é ativada ao clicar do lado direito do mouse);
                <br/>Depois indo até Go to slot…;
                <br/>Selecionando Clicked e pressionando Ok.
                <br/>Após acionarmos o Clicked do PushButton seremos direcionados ao mainwindow.cpp, local que vamos programar.
            </p>
            <p class="p-code1">
                Para iniciar a programação dessa aplicação vamos incluir a biblioteca QMessageBox;
                <br/>A Classe QMessageBox é utilizada para informar o usuário ou para fazer uma pergunta ao usuário e receber uma resposta;
            </p>
            <p class="code">#include "mainwindow.h"
                <br/>#include "./ui_mainwindow.h" 
                <br/>#include &lt;QMessageBox&gt;
            </p>

            <p class="p-code">
                Após isso, vamos programar dentro da  void MainWindow::on_pushButton_clicked() { };
                <br/>1° Vamos adicionar QMessageBox, referenciando o ComboBox;
            </p>
            <pre class="code">
void MainWindow::on_pushButton_clicked()
{
   QMessageBox:: about(this, "LINGUAGENS", ui->comboBox->currentText());
}</pre>

            <h2>Segunda forma de criar ComboBox            </h2>
            <p class="paragraph">Criar ComboBox através de código na mainwindow.cpp.
                <br/>Na parte de design vamos utilizar um ComboBox e um PushButton.
            </p>
            <img class="print" src="../assets/images/components/combobox/image4.png"/>

            <p class="paragraph">Devemos adicionar função ao botão;
                <br/>Para adicionar funcionalidade ao botão deve-se selecionar a função Clicked (que é ativada ao clicar do lado direito do mouse);
                <br/>Depois indo até Go to slot…;
                <br/>Selecionando Clicked e pressionando Ok.
                <br/>Após acionarmos o Clicked do PushButton seremos direcionados ao mainwindow.cpp, local que vamos programar.
            </p>
            <p class="p-code1">
                Para iniciar a programação dessa aplicação vamos incluir a biblioteca QMessageBox;
                <br/>A Classe QMessageBox é utilizada para informar o usuário ou para fazer uma pergunta ao usuário e receber uma resposta;
            </p>
            <p class="code">#include "mainwindow.h"
                <br/>#include "./ui_mainwindow.h" 
                <br/>#include &lt;QMessageBox&gt;
            </p>

            <p class="p-code">1° Devemos adicionar itens no ComboBox, com addItem e criando o nome dos itens;             </p>
            <pre class="code">
MainWindow::MainWindow(QWidget *parent)
   : QMainWindow(parent)
   , ui(new Ui::MainWindow)
{
   ui->setupUi(this);
   ui->comboBox->addItem("Maça");
   ui->comboBox->addItem("Banana");
   ui->comboBox->addItem("Uva");
   ui->comboBox->addItem(“Goiaba");
}</pre>

            <p class="p-code">2° Com os itens já adicionados vamos codificar na void MainWindow::on_pushButton_clicked()
                <br/>Vamos adicionar QMessageBox;
            </p>
            <pre class="code">
void MainWindow::on_pushButton_clicked()
{
   QMessageBox:: about(this, "LINGUAGENS", ui->comboBox->currentText());
}</pre>

            <p class="p-code">Código da mainwindow.cpp completo:</p>
            <p class="code-h">mainwindow.cpp</p>
            <pre class="code-complete">
#include "mainwindow.h"
#include "./ui_mainwindow.h"
#include &lt;QMessageBox&gt;

MainWindow::MainWindow(QWidget *parent)
   : QMainWindow(parent)
   , ui(new Ui::MainWindow)
{
   ui->setupUi(this);
   ui->comboBox->addItem("C++");
   ui->comboBox->addItem("JavaS");
   ui->comboBox->addItem("C");
   ui->comboBox->addItem("PHP");
   ui->comboBox->addItem("Phyton");

}

MainWindow::~MainWindow()
{
   delete ui;
}

void MainWindow::on_pushButton_clicked()
{
   QMessageBox:: about(this, "FRUTAS", ui->comboBox->currentText());
}</pre>

            <h2>Terceira forma de criar ComboBox            </h2>
            <p class="paragraph">Criar ComboBox através de código na mainwindow.cpp.
                <br/>Na parte de design vamos utilizar um ComboBox e um PushButton.
            </p>
            <img class="print" src="../assets/images/components/combobox/image4.png"/>

            <p class="paragraph">Devemos adicionar função ao botão;
                <br/>Para adicionar funcionalidade ao botão deve-se selecionar a função Clicked (que é ativada ao clicar do lado direito do mouse);
                <br/>Depois indo até Go to slot…;
                <br/>Selecionando Clicked e pressionando Ok.
                <br/>Após acionarmos o Clicked do PushButton seremos direcionados ao mainwindow.cpp, local que vamos programar.
            </p>
            <p class="p-code1">
                Para iniciar a programação dessa aplicação vamos incluir a biblioteca QMessageBox;
                <br/>A Classe QMessageBox é utilizada para informar o usuário ou para fazer uma pergunta ao usuário e receber uma resposta;
            </p>
            <p class="code">#include "mainwindow.h"
                <br/>#include "./ui_mainwindow.h" 
                <br/>#include &lt;QMessageBox&gt;
            </p>

            <p class="p-code">1° Devemos usar QString para nossa variável frutas, um vetor com a quantidade de itens desejados e seus nomes;            </p>
            <pre class="code">
MainWindow::MainWindow(QWidget *parent)
   : QMainWindow(parent)
   , ui(new Ui::MainWindow)
{
   ui->setupUi(this);
   QString cursos[4]= {“Maça", "Banana","Uva", "Goiaba"};
}</pre>

            <p class="p-code">2° Devemos utilizar if para adicionar os itens;            </p>
            <pre class="code">
MainWindow::MainWindow(QWidget *parent)
   : QMainWindow(parent)
   , ui(new Ui::MainWindow)
{
   ui->setupUi(this);
    QString cursos[4]= {“Maça", "Banana","Uva", "Goiaba"};
   for (int i=0; i<5; i++){
       ui->comboBox->addItem(cursos[i]);}
}</pre>

            <p class="p-code">3° Com os itens já adicionados vamos codificar na void MainWindow::on_pushButton_clicked()
                <br/>Vamos adicionar QMessageBox;
            </p>
            <pre class="code">
void MainWindow::on_pushButton_clicked()
{
   QMessageBox:: about(this, "FRUTAS", ui->comboBox->currentText());
}</pre>

            <p class="p-code">Código da mainwindow.cpp completo:</p>
            <p class="code-h">mainwindow.cpp</p>
            <pre class="code-complete">
#include "mainwindow.h"
#include "./ui_mainwindow.h"
#include &lt;QMessageBox&gt;

MainWindow::MainWindow(QWidget *parent)
   : QMainWindow(parent)
   , ui(new Ui::MainWindow)
{
   ui->setupUi(this);
   QString cursos[5]={"C++", "JavaS","PHP", "Phyton", "C"};
   for (int i=0; i<5; i++){
       ui->comboBox->addItem(cursos[i]);}
}

MainWindow::~MainWindow()
{
   delete ui;
}

void MainWindow::on_pushButton_clicked()
{
   QMessageBox:: about(this, "FRUTAS", ui->comboBox->currentText());
}</pre>

<aside class="actions">
    <a class="action" href="../components/checkbox.html"><img class="action-icon" src="../assets/icons/arrow-left.png" /> Anterior</a>
    <a class="action" href="../components/radio-button.html">Próximo <img class="action-icon" src="../assets/icons/arrow-right.png" /></a>
</aside>
        </article>
     </main>
     <footer class="footer-with-shadow">
        <img src="../assets/images/PI-logo.png" />
        <a href="https://github.com/mariaibcarvalho/Tutorial-Qt-com-C--" target="_blank"> <img src="../assets/images/github.png"/> </a>
    </footer>
</body>
</html>