<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/navigation/header.css">
    <link rel="stylesheet" href="../css/navigation/navigation-rail.css">
    <link rel="stylesheet" href="../css/navigation/action.css">
    <link rel="stylesheet" href="../css/components/spin.css">
    <link rel="stylesheet" href="../css/content/text.css">
    <link rel="stylesheet" href="../css/foooter.css">
</head>
<body>
    <section class="menu">
        <nav class="category">
            <h3 class="menu-item-title">
                Introdução
            </h3>
            <a class="menu-item-element" href="../introduction/conceitos.html">Introdução (Conceitos) </a>
            <a class="menu-item-element" href="../introduction/windows.html">Instalação no Windows</a>
            <a class="menu-item-element" href="../introduction/linux.html">Instalação no Linux</a>
            <hr>
            <h3 class="menu-item-title">Componentes</h3>
            <a class="menu-item-element" href="../components/label.html">Label, Botão e Input Fields</a>
            <a class="menu-item-element" href="../components/checkbox.html">Checkbox</a>
            <a class="menu-item-element" href="../components/combobox.html">Combobox</a>
            <a class="menu-item-element" href="../components/radio-button.html">Radio Button</a>
            <a class="menu-item-element" href="../components/slider.html">Slider</a>
            <a class="menu-item-element" href="../components/spin.html">Spin</a>
            <a class="menu-item-element" href="#">Toggle</a>
            <a class="menu-item-element" href="../components/imagem.html">Imagem</a>
            <a class="menu-item-element" href="../components/tabs.html">Tabs</a>
            <a class="menu-item-element" href="../components/listview.html">List View</a>
            <a class="menu-item-element" href="../components/progressbar.html">Barra de Progresso</a>
            <a class="menu-item-element" href="#">Picker</a>
            <a class="menu-item-element" href="../components/menu-separador.html">Menu e Separadores</a>
            <a class="menu-item-element" href="../components/scroll.html">Scroll</a>
            <a class="menu-item-element" href="../components/Tabela.html">Tabela</a>
            <a class="menu-item-element" href="../components/pop-up.html">Janela de diálogo</a>
            <a class="menu-item-element" href="../components/drag-drop.html">Drag and Drop</a>
            <a class="menu-item-element" href="../components/graficos.html">Gráficos</a>
        </nav>
    </section>
     <header class="header-navigation-with-shadow">
        <img src="../assets/images/PI-logo.png" />
        <nav class="header-navigation">
            <a class="header-navigation-item" href="../index.html">Home</a>
            <a class="header-navigation-item" href="../introduction/conceitos.html">Tutorial</a>
            <a class="header-navigation-item" href="../videos.html">Vídeos</a>
            <a class="header-navigation-item" href="../about.html">Sobre Nós</a> 
        </nav>
     </header>
     <main class="content">
        <article>
            <aside class="actions">
                <a class="action" href="../components/slider.html"><img class="action-icon" src="../assets/icons/arrow-left.png" /> Anterior</a>
                <a class="action" href="../components/imagem.html">Próximo <img class="action-icon" src="../assets/icons/arrow-right.png" /></a>
            </aside>

            <h1>Spin</h1>

            <p class="paragraph">Nesse tutorial iremos aprender a como fazer uma spin box. Iremos utilizar o QSpinBox, um widget feito para manipula inteiros e conjuntos discretos de valores. 
                <br/><br/>Para começarmos o tutorial, temos o arquivo header, cpp e o main:
            </p>
            
            <p class="code-h">spinbox.h</p>
            <pre class="code-complete">
#pragma once
#include &lt;QWidget&gt;
#include &lt;QSpinBox&gt;

class SpinBox : public QWidget {

  Q_OBJECT

  public:
    SpinBox(QWidget *parent = nullptr);

  private:
    QSpinBox *spinbox;
};</pre>

            <p class="code-h">spinbox.cpp</p>
            <pre class="code-complete">
#include &lt;QHBoxLayout&gt;
#include &lt;QLabel&gt;
#include "spinbox.h"

SpinBox::SpinBox(QWidget *parent)
    : QWidget(parent) {

  auto *hbox = new QHBoxLayout(this);
  hbox->setSpacing(15);

  spinbox = new QSpinBox(this);
  auto *lbl = new QLabel("0", this);

  hbox->addWidget(spinbox);
  hbox->addWidget(lbl);

  connect(spinbox, qOverload<int>(&QSpinBox::valueChanged),
    lbl, qOverload<int>(&QLabel::setNum));
}</pre>

            <p class="code-h">main.cpp</p>
            <pre class="code">
#include &lt;QApplication&gt;
#include "spinbox.h"

int main(int argc, char *argv[]) {

  QApplication app(argc, argv);

  SpinBox window;

  window.resize(250, 150);
  window.setWindowTitle("QSpinBox");
  window.show();

  return app.exec();
}</pre>

            <p class="p-code">
                Colocamos uma spinbox na janela e conectamos seu signal valueChanged (modificando o valor) ao slot setNum (modificando o número) da QLabel. Precisamos usar o qOverload duas vezes porque tanto o signal quanto o slot estão sobrecarregados. Esse é o trecho do código que faz a mágica:
            </p>
            <pre class="code">
  connect(spinbox, qOverload<int>(&QSpinBox::valueChanged),
    lbl, qOverload<int>(&QLabel::setNum));</pre>

            <p class="paragraph">Então temos o resultado:</p>
            <img class="print2" src="../assets/images/components/spin/Untitled (1).png"/>
            <img class="print1" src="../assets/images/components/spin/2022-06-26 12-18-02 (1).gif"/>

            <aside class="actions">
                <a class="action" href="../components/slider.html"><img class="action-icon" src="../assets/icons/arrow-left.png" /> Anterior</a>
                <a class="action" href="../components/imagem.html">Próximo <img class="action-icon" src="../assets/icons/arrow-right.png" /></a>
            </aside>
        </article>
     </main>
     <footer class="footer-with-shadow">
        <img src="../assets/images/PI-logo.png" />
        <a href="https://github.com/mariaibcarvalho/Tutorial-Qt-com-C--" target="_blank"> <img src="../assets/images/github.png"/> </a>
    </footer>
</body>
</html>