@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

main{
    width: 100%;
    background-color: #FFF0D1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.item1{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;

    margin-top: 8%;
}

.item2{
    width: 60%;
    text-align: center;
    font-size: large;
    font-weight: 400;
    font-family: 'Roboto Flex', sans-serif;
    
    margin-top: 1%;
    margin-bottom: 2%;
}
   


.item4{
    width: 200px;
    height: 34px;

    border: 0px solid #fff;
    border-radius: 24px;

    background-color: #53BEA6;
    color: black;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.18);
    
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Flex', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2%;
    margin-bottom: 4%;
}

.arrow{
    margin-left: 8%;
    width: 24px;
    height: 24px;
}

@media (max-width: 800px){
    .item1{
        font-size: 20px;

        margin-top: 36%;
        margin-bottom: 2%;
    }

    .item2{
        width: 80%;
        font-size: 16px;

        margin-bottom: 10%;
        
    }

    .item3{
        width: auto;
        height: auto;
    }

    .item4{
        margin-top: 10%;
        margin-bottom: 30%;
    }
}