@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&family=Roboto+Slab:wght@700&display=swap');

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.title {
    margin-top: 4rem;
    margin-bottom: 2%;
    
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.sub-title {
    margin-bottom: 2%;

    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

.person {
    
    margin: 0.5% 0%;

    display: flex;
    align-items: center;

    justify-content: center;

    width: 100%;
}

.person-image-left {
    flex-direction: row;
}

.person-image-right {
    flex-direction: row-reverse;
}

.person-image {

    border-radius: 10px;

    width: 130px;
    height: 130px;
}

.person-name {
    padding: 0% 10% 1% 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 130px;
    width: 780px;

    border-radius: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

.person-name-right {
    margin-left: 1%;
}

.person-name-left {
    margin-right: 1%;
}

.person-name-title {
    margin-bottom: 2%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;
}

.person-name-text {
    font-weight: 400;
    font-size: 20px;
}

.about-project {

    margin: 6% 0%;

    width: 72%;

    padding: 4%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    border: 3px solid #FFD5B0;

    font-family: 'Roboto Flex', sans-serif;
}

.about-project-title {
    font-size: x-large;

    font-weight: bold;
    font-family: 'Roboto Slab', serif;

    margin-bottom: 4%;
}

.about-project-text {
    font-size: 1.2em;

    margin-bottom: 4%;
}